.heading{
  margin-top: 0;
  text-align: center;
  color: color('primary');
}

.subheading{
  margin-top: 0;
}

.text-disabled{
  color: color('disabled');
}
.text-primary{
  color: color('primary');
}

.link-dark{
  color: color('foreground');
  &:hover{
    color: color('foreground');
  }
}