.search-dropdown{
	height: 30px !important;
}

.search-btn{
	text-align: center;
}

.clear-btn{
	margin-left: 5px;
}

.sidebar-menu-notif{
	position: absolute;
	right: 30px;
}

.hr-small{
	margin: 5px 0 5px 0;
}


@media only screen and (min-width: 1025px){
  .table{
    table-layout: fixed;
  }
}