.btn{
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
}
  .btn__valign{
    display: inline-block;
    vertical-align: middle;
  }

.btn--ghost{
  background: none;
  color: $btn-background;

  &:hover,
  &:active,
  &:focus {
    background-color: $btn-background;
    color: color('white');
  }

  &.btn--white{
    color: color('white');
    border-color: color('white');
    &:hover,
    &:active,
    &:focus {
      background-color: color('white');
      color: color('primary');
    }
  }
}