html{
  background: color('background','dark'); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(color('background'), color('background','dark')); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(color('background'), color('background','dark')); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(color('background'), color('background','dark')); /* For Firefox 3.6 to 15 */
  background: linear-gradient(color('background'), color('background','dark')); /* Standard syntax */
}

.wf-active{
  font-family: "Titillium Web", Helvetica, sans-serif;
}