/* ==========================================================================
   Framework Main File
   ========================================================================== */
/**
 * YOU SHOULD PREDEFINE THE VARIABLES BEFORE IMPORT THE RELEVANT FILES
 */


/*
   TOOLS
   ========================================================================== */
// Site-wide mixins and functions.

@import "0-tools/tools.all";
@import "0-tools/my-tools.colors";
@import "0-tools/my-tools.z-index";
@import "0-tools/my-tools.triangle";


/*
   SETTINGS
   ========================================================================== */
/**
 * Global variables, site-wide settings, config switches, etc.
 *
 * These variables are framework variables, sourced from variables defined
 * above. Feel free to use these variables throughout your project, but do not
 * modify or reassign them.
 */

$base-font-family:                     "Helvetica Neue", Helvetica, sans-serif;
$base-font-size:                       16px;
// $base-font-weight:                     normal;

// $base-text-color:                      #333333;
// $base-background-color:                #FFFFFF;

// $base-line-height:                     28px;
// $base-spacing-unit:                    $base-line-height;

// $base-radius:                          3px;

// $base-color-treshold:                  65%;



/*
   SETTINGS-BREAKPOINTS
   ========================================================================== */
/**
 * Hold our breakpoint range and conditions.
 *
 * These can be invoked later on using this line of code:
 *
 * @media #{conditions}{
 *   @content;
 * }
 *
 * Using Relative Units for Widths
 *
 * You may have noticed that we use em for
 * our default CSS Media Query widths instead of px.
 * This was a conscious decision since it
 * allows the Media Queries to respond appropriately
 * when people zoom the webpage.
 * Check out this article by Brad Frost
 * http://bradfrostweb.com/blog/post/7-habits-of-highly-effective-media-queries/#relative
 * for some background information on using relative units
 * within Media Queries.
 */

$screen: "only screen";

$small-range:   (0em, em-calc(768));
$medium-range:  (em-calc(769), em-calc(1024));
$large-range:   (em-calc(1025), em-calc(1440));
$xlarge-range:  (em-calc(1441), em-calc(1920));
$xxlarge-range: (em-calc(1921), 999999em);

$retina:        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

/*
   Media Query Conditions
   ========================================================================== */

$landscape:      "#{$screen} and (orientation: landscape)";
$portrait:       "#{$screen} and (orientation: portrait)";
$retina-device:  $retina;


$small-up:      $screen;
$small-only:    "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up:     "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only:   "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";
$medium-down:   "#{$screen} and (max-width:#{upper-bound($medium-range)})";

$large-up:      "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only:    "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";
$large-down:    "#{$screen} and (max-width:#{upper-bound($large-range)})";

$xlarge-up:     "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only:   "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";
$xlarge-down:   "#{$screen} and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up:    "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only:  "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";
$xxlarge-down:  "#{$screen} and (max-width:#{upper-bound($xxlarge-range)})";



/**
 * Would you like classes to be prepended with a namespace? If so,
 * define it here.
 */

// $namespace: null;

// base line debuger
// $enable-debug-typography:                true;

// whitespace debuger
// $enable-debug-whitespace:                true;

@import "1-settings/settings.all";




/*
   GENERIC
   ========================================================================== */
/**
 *  Low-specificity, far-reaching rulesets (e.g. CSS resets)
 *
 * [1] Reset/Normalize
 * [2] Box sizing FTW
 * [3] Shared
 */

/* [1] */
@import "2-generic/generic.normalize";

/* [2] */
@import "2-generic/generic.box-sizing";

/* [3] */
@import "2-generic/generic.shared";


/*
   BASE
   ========================================================================== */
/**
 * Uncllassed HTML elements (eg. a{}, p{}, blockquote{} )
 *
 * [1] Page
 * [2] Headings
 * [3] Paragraphs
 * [4] Links
 * [5] Images
 * [6] List
 * [7] Hr
 * [8] Blockquote
 */

/* [1] */
@import "3-base/base.page";
@import "3-base/my-base.page";


/* [2] */
$heading-font-weight:        600;

// $heading-size-min:          $base-font-size;
$heading-size-max:          36px;

// max font size and line height for small device

// $heading-size-max-small:    30px;
// $heading-line-height-small: 1.3;

@import "3-base/base.headings";


/* [3] */
// $lede-size: 1.125;

@import "3-base/base.paragraphs";


/* [4] */
// $anchor-font-color:            #3498DB !default;
// $anchor-color-factor:          2 !default;
// $anchor-font-color-hover:      color-level($anchor-font-color, $anchor-color-factor) !default;
// $anchor-text-decoration:       none !default;
// $anchor-text-decoration-hover: none !default;

@import "3-base/base.links";


/* [5] */
@import "3-base/base.images";


/* [6] */
@import "3-base/base.lists";


/* [7] */
// $hr-border-width:  1px;
// $hr-border-style:  solid;
// $hr-border-color:  #cccccc;
// $hr-margin:        $base-spacing-unit;

@import "3-base/base.hr";


/* [8] */
// $blockquote-footer-font-size:  12px;
// $blockquote-footer-font-color: scale-color($base-text-color, $lightness: 30%);

@import "3-base/base.blockquote";


@import "3-base/my-base.typograph";



/*
   Objects
   ========================================================================== */
/**
 * objects, abstractions, and design patterns
 * (e.g. .media {}, .button{}, .list{}).
 *
 * [1]  Grids
 * [2]  Block
 * [3]  Box
 * [4]  Buttons
 * [5]  Flag
 * [6]  List Block
 * [7]  List Dull
 * [8]  List Inline
 * [9]  List UI
 * [10] Media
 * [11] Pack
 * [12] Table
 */

/* [1] */
$columns-gutter:                        $base-spacing-unit;
$container-width:                       1100px;
$default-float:                         left;
$opposite-float:                        right;

// grid extra large classes
// $enable-xl-grid-classes:                true;
// $enable-xxl-grid-classes:               true;

/*
   Default grid classess
   ========================================================================== */
// Uncomment these variables bellow
// if you want to create your own grid classes

// $enable-default-grid-classes:           true;

// $enable-grid-half:                      true;
// $enable-grid-third:                     true;
// $enable-grid-fourth:                    true;
// $enable-grid-fifth:                     true;

/*
   Grid unit modifier
   ========================================================================== */
// These modifier will be disabled automatically
// as you disable the default grid classes

// $enable-grid-bleed:                     true;
// $enable-grid-pull:                      true;
// $enable-grid-push:                      true;
// $enable-grid-offset:                    true;
// $enable-grid-reset:                     true;
$enable-grid-centered:                  true;
// $enable-grid-uncentered:                true;


@import "4-objects/objects.grids";


/* [2] */
// $block-namespace:                    $namespace;

// $block-gutter:                       $base-spacing-unit;
// $block-gutter--tiny:                 quarter($block-gutter);
// $block-gutter--small:                halve($block-gutter);
// $block-gutter--large:                double($block-gutter);
// $block-gutter--huge:                 quadruple($block-gutter);

// $enable-block--bleed:                true;
// $enable-block--tiny:                 true;
// $enable-block--small:                true;
// $enable-block--large:                true;
// $enable-block--huge:                 true;
// $enable-block--center:               true;
// $enable-block--right:                true;


// @import "4-objects/objects.block";


/* [3] */
// $box-namespace:                      $namespace;

// $box-padding:                        $base-spacing-unit;
// $box-padding--tiny:                  quarter($box-padding);
// $box-padding--small:                 halve($box-padding);
// $box-padding--large:                 double($box-padding);
// $box-padding--huge:                  quadruple($box-padding);

// $enable-box--bleed:                  true;
// $enable-box--tiny:                   true;
// $enable-box--small:                  true;
// $enable-box--large:                  true;
// $enable-box--huge:                   true;


// @import "4-objects/objects.box";


/* [4] */
//$btn-namespace:                      $namespace;

// $btn-padding:                        halve($base-spacing-unit);
// $btn-padding--small:                 halve($btn-padding);
// $btn-padding--large:                 double($btn-padding);

// $btn-font-size:                      $base-font-size;
// $btn-font-size--small:               $btn-font-size * 0.8;
// $btn-font-size--large:               $btn-font-size * 1.25;

$btn-background:                     color('primary');
$btn-color-dark-background:          color('foreground', 'invert');
$btn-color-light-background:         color('foreground');

// $btn-border-width:                   1px;
// $btn-radius:                         0;
// $enable-btn-transition:              true;

$enable-btn--small:                  true;
// $enable-btn--large:                  true;
$enable-btn--full:                   true;
// $enable-btn--pill:                   true;
// $enable-btn--disabled:               true;

@import "4-objects/objects.buttons";
@import "4-objects/my-objects.buttons";


/* [5] */
// $flag-namespace:                     $namespace;

// $flag-gutter:                        $base-spacing-unit;
// $flag-gutter--tiny:                  quarter($flag-gutter);
// $flag-gutter--small:                 halve($flag-gutter);
// $flag-gutter--large:                 double($flag-gutter);
// $flag-gutter--huge:                  quadruple($flag-gutter);

// $enable-flag--tiny:                  true;
// $enable-flag--small:                 true;
// $enable-flag--large:                 true;
// $enable-flag--huge:                  true;
// $enable-flag--rev:                   true;
// $enable-flag--bleed:                 true;
// $enable-flag--top:                   true;
// $enable-flag--bottom:                true;
// $enable-flag--responsive:            true;
// $flag-collapse-at:                   upper-bound($small-range);

// @import "4-objects/objects.flag";


/* [6] */
// $list-block-namespace:               $namespace;

// $list-block-padding:                 $base-spacing-unit;
// $list-block-padding--tiny:           quarter($list-block-padding);
// $list-block-padding--small:          halve($list-block-padding);
// $list-block-padding--large:          double($list-block-padding);
// $list-block-padding--huge:           quadruple($list-block-padding);

// $enable-list-block--tiny:            true;
// $enable-list-block--small:           true;
// $enable-list-block--large:           true;
// $enable-list-block--huge:            true;

// @import "4-objects/objects.list-block";


/* [7] */
// $list-dull-namespace:                $namespace;
// @import "4-objects/objects.list-dull";


/* [8] */
// $list-inline-namespace:              $namespace;

// $enable-list-inline--delimited:      true;
// $list-inline-delimit-character:      ",\00A0";

@import "4-objects/objects.list-inline";
@import "4-objects/my-objects.list-inline";

/* [9] */
// $list-ui-namespace:                  $namespace;

// $list-ui-padding:                    $base-spacing-unit;
// $list-ui-padding--tiny:              quarter($list-ui-padding);
// $list-ui-padding--small:             halve($list-ui-padding);
// $list-ui-padding--large:             double($list-ui-padding);
// $list-ui-padding--huge:              quadruple($list-ui-padding);

// $list-ui-border-width:               1px;
// $list-ui-border-style:               solid;
// $list-ui-border-color:               #ccc;

// $enable-list-ui--bleed:              true;
// $enable-list-ui--tiny:               true;
// $enable-list-ui--small:              true;
// $enable-list-ui--large:              true;
// $enable-list-ui--huge:               true;
// $enable-remove-border-at-first-item: true;
// $enable-remove-border-at-last-item:  true;

// @import "4-objects/objects.list-ui";


/* [10] */
// $media-namespace:                    $namespace;

// $media-gutter:                       $base-spacing-unit;
// $media-gutter--tiny:                 quarter($media-gutter);
// $media-gutter--small:                halve($media-gutter);
// $media-gutter--large:                double($media-gutter);
// $media-gutter--huge:                 quadruple($media-gutter);
// $media-collapse-at:                  720px;

// $enable-media--tiny:                 true;
// $enable-media--small:                true;
// $enable-media--large:                true;
// $enable-media--huge:                 true;
// $enable-media--rev:                  true;
// $enable-media--bleed:                true;
// $enable-media--responsive:           true;

// @import "4-objects/objects.media";


/* [11] */
// $pack-namespace:                     $namespace;

// $pack-gutter:                        $base-spacing-unit;
// $pack-gutter--tiny:                  quarter($pack-gutter);
// $pack-gutter--small:                 halve($pack-gutter);
// $pack-gutter--large:                 double($pack-gutter);
// $pack-gutter--huge:                  quadruple($pack-gutter);

// $enable-pack--auto:                  true;
// $enable-pack--tiny:                  true;
// $enable-pack--small:                 true;
// $enable-pack--large:                 true;
// $enable-pack--huge:                  true;
// $enable-pack--rev:                   true;
// $enable-pack--middle:                true;
// $enable-pack--bottom:                true;

// @import "4-objects/objects.pack";


/* [12] */
// $table-namespace:                    $namespace;

// $table-padding:                      $base-spacing-unit;
// $table-padding--compact:             quarter($table-padding);
// $table-padding--cosy:                halve($table-padding);
// $table-padding--comfy:               $table-padding;

// $table-border-width:                 1px;
// $table-border-style:                 solid;
// $table-border-color:                 #eee;

// $enable-table--fixed:                true;
// $enable-table--compact:              true;
// $enable-table--cosy:                 true;
// $enable-table--comfy:                true;
// $enable-table--cells:                true;
// $enable-table--rows:                 true;
// $enable-table--columns:              true;

// @import "4-objects/objects.tables";




/*
   COMPONENTS
   ========================================================================== */
/**
 * Discrete, complete chunks of UI (e.g. .carousel {}, .topbar{}).
 * This is the one layer that the framework doesn't get involved with.
 * So, import your own components here and do your magic!
 */
@import "5-components/my-components.alerts";
@import "5-components/my-components.article";
@import "5-components/my-components.badges";
@import "5-components/my-components.block-list";
@import "5-components/my-components.duo-color";
@import "5-components/my-components.forms";
@import "5-components/my-components.hero";
@import "5-components/my-components.icons";
@import "5-components/my-components.icons-burger";
@import "5-components/my-components.map";
@import "5-components/my-components.page-head";
@import "5-components/my-components.page-foot";
@import "5-components/my-components.pagination";
@import "5-components/my-components.promote";
@import "5-components/my-components.site-nav";
@import "5-components/my-components.slick";
@import "5-components/my-components.section";
@import "5-components/my-components.submenu";
@import "5-components/my-components.update";
@import "5-components/my-components.videoflex";



/*
   Helpers
   ========================================================================== */
/**
 * High-specificity, very explicit selectors.
 * Overrides and helper classes (e.g. .hidden {}).
 *
 * [1] Clearfix
 * [2] Float
 * [3] Text transform
 * [4] Alignment
 * [4+] Alignment Responsive
 * [5] Spacing
 * [5+] Spacing Responsive
 * [6] Visibility
 * [6+] Visibility Responsive
 * [7] Print
 */

/* [1] */
@import "6-helpers/helpers.clearfix";


/* [2] */
// @import "6-helpers/helpers.float";


/* [3] */
// @import "6-helpers/helpers.text-transform";


/* [4] */
// $enable-xlarge-alignment-clasess:    true;

@import "6-helpers/helpers.alignment";
// @import "6-helpers/helpers.alignment-responsive";


/* [5] */
// $spacing-namespace:                  $namespace;

// $spacing-margin:                     $base-spacing-unit;
// $spacing-padding:                    $base-spacing-unit;

// $enable-margins:                     true;
// $enable-margins--tiny:               true;
// $enable-margins--small:              true;
// $enable-margins--large:              true;
// $enable-margins--huge:               true;

// $enable-margins--negative:           true;
// $enable-margins--negative-tiny:      true;
// $enable-margins--negative-small:     true;
// $enable-margins--negative-large:     true;
// $enable-margins--negative-huge:      true;

// $enable-margins--none:               true;

// $enable-paddings:                    true;
// $enable-paddings--tiny:              true;
// $enable-paddings--small:             true;
// $enable-paddings--large:             true;
// $enable-paddings--huge:              true;

// $enable-paddings--negative:           true;
// $enable-paddings--negative-tiny:      true;
// $enable-paddings--negative-small:     true;
// $enable-paddings--negative-large:     true;
// $enable-paddings--negative-huge:      true;

// $enable-paddings--none:              true;

// @import "6-helpers/helpers.spacing";


// $enable-responsive-margins:                   true;
// $enable-responsive-margins--tiny:             true;
// $enable-responsive-margins--small:            true;
// $enable-responsive-margins--large:            true;
// $enable-responsive-margins--huge:             true;

// $enable-responsive-margins--negative:         true;
// $enable-responsive-margins--negative-tiny:    true;
// $enable-responsive-margins--negative-small:   true;
// $enable-responsive-margins--negative-large:   true;
// $enable-responsive-margins--negative-huge:    true;

// $enable-responsive-margins--none:             true;

// $enable-responsive-paddings:                  true;
// $enable-responsive-paddings--tiny:            true;
// $enable-responsive-paddings--small:           true;
// $enable-responsive-paddings--large:           true;
// $enable-responsive-paddings--huge:            true;

// $enable-responsive-paddings--negative:         true;
// $enable-responsive-paddings--negative-tiny:    true;
// $enable-responsive-paddings--negative-small:   true;
// $enable-responsive-paddings--negative-large:   true;
// $enable-responsive-paddings--negative-huge:    true;

// $enable-responsive-paddings--none:            true;


// $enable-xlarge-responsive-spacing-clasess:    true;
// $enable-xxlarge-responsive-spacing-clasess:   true;

// @import "6-helpers/helpers.spacing-responsive";


/* [6] */
// $enable-accessibility-classes:       true;
// $enable-table-classes:               true;

// @import "6-helpers/helpers.visibility";


// $enable-xlarge-responsive-visibility-clasess:    true;
// $enable-xxlarge-responsive-visibility-clasess:   true;
// @import "6-helpers/helpers.visibility-responsive";


/* [7] */
// @import "6-helpers/helpers.print";

@import "6-helpers/my-helpers.text";
