// modify html and body height,
// so this fullpage hero background will work properly

// html, body {
//   height: 100%;
// }

.hero{
  display: table;
  table-layout: fixed;
  width: 100%;
  height: rem-calc(300);
  position: relative;

  background-color: color('background', 'dark');
  background-position: center center;
  // background-attachment: scroll;
  background-size: cover;
  background-image: url(../img/hero/hero--small.jpg);
  color: color('white');

  @media #{$medium-up}{
    height: rem-calc(500);
    // background-attachment: fixed;
    background-image: url(../img/hero/hero--large.jpg);
    box-shadow: 0 0 10px rgba(0,0,0,.4) inset;
  }

  &__container{
    display: table-cell;
    vertical-align: middle;

    @extend %clearfix;
  }

    &__content{
      width: 100%;
      max-width: rem-calc($container-width);
      margin-left: auto;
      margin-right: auto;
      padding-left: rem-calc(halve($base-spacing-unit));
      padding-right: rem-calc(halve($base-spacing-unit));
    }

    &__heading{
      @include font-size(26, 1.1);
      margin-top: 0;
      margin-bottom: rem-calc(halve($base-spacing-unit));

      @media #{$medium-up}{
        @include font-size(36);
      }
    }
    &__subheading{
      @include font-size(18);
    }
}