/* ==========================================================================
   PAGE HEAD
   ========================================================================== */

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?";
}

.page-foot{
  background-color: color('background', 'light');
  border-bottom: 4px solid color('primary');
  padding-top: rem-calc($base-spacing-unit);
  padding-bottom: rem-calc($base-spacing-unit);

  &__sosmed-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin-bottom: rem-calc(halve($base-spacing-unit));
  }
    &__sosmed-item{
      display: inline-block;
    }
      &__sosmed-link{
        color: color('foreground');

        &:hover,
        &:active{
          color: color-level(color('foreground'), 2);
        }

      }
        &__sosmed-icon{
          font-size: rem-calc($base-font-size * 1.25);

          @media #{$medium-up}{
            font-size: rem-calc($base-font-size * 2);
          }

          @media #{$large-up}{
            font-size: rem-calc($base-font-size * 3);
            margin-left: rem-calc(halve($base-spacing-unit));
            margin-right: rem-calc(halve($base-spacing-unit));
          }
        }

  &__contact{
    text-align: center;
    margin-bottom: rem-calc(halve($base-spacing-unit));
  }

  &__detail{
    font-size: rem-calc(12);
    width: 100%;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after{
      content: '';
      display: table;
    }
    &:after{
      clear: both;
    }
  }

    &__copyright{
      display: block;
      width: 100%;
      padding-left: rem-calc(halve($base-spacing-unit));
      padding-right: rem-calc(halve($base-spacing-unit));
      text-align: center;

      @media #{$large-up}{
        float: left;
        width: 50%;

        &--left{
          text-align: left;
        }
        &--right{
          text-align: right;
        }
      }
    }

}