.duo-color{
  position: relative;

  @media #{$large-up}{
    background: -webkit-linear-gradient(left,color('primary') 0,color('primary') 50%,color('accent') 50%,color('accent') 100%);
    background: linear-gradient(to right,color('primary') 0,color('primary') 50%,color('accent') 50%,color('accent') 100%);
  }

}
.duo-color__first{
  background-color: color('primary');
  color: color('white');
}
.duo-color__last{
  background-color: color('accent');
  color: color('white');
}

@media #{$large-up}{
  .duo-color__first,
  .duo-color__last{
    background: none;
  }
}