.badge{
  padding-top: rem-calc(quarter($base-spacing-unit));
  padding-bottom: rem-calc(quarter($base-spacing-unit));
  padding-left: rem-calc(halve($base-spacing-unit));
  padding-right: rem-calc(halve($base-spacing-unit));
  background-color: color('primary');
  color: color('foreground', 'invert');

  &--inline{
    display: inline;
  }
}