.update{
  position: relative;
  margin-bottom: rem-calc($base-spacing-unit);

  &__title{
    margin-top: 0;
    margin-bottom: rem-calc(halve($base-spacing-unit));

    @include font-size(20);

    // &--large{
    //   @include font-size(36);
    // }

    // &--medium{
    // }


    // &--small{
    //   @include font-size(20);
    // }
  }
}