/* ==========================================================================
   PAGE NAVIGATION
   ========================================================================== */


// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?"
}

$page-height-small: 50px;
$page-height-large: 70px;
$logo-width-small: 160px;
$logo-width-large: 290px;

.site-nav{
  font-size: rem-calc(14);
  @media only screen and (min-width: em-calc(551)){
    font-size: rem-calc(16);
  }

  @extend %clearfix;

  &__logo{
    position: relative;
    display: block;
    width: rem-calc($logo-width-small);
    height: rem-calc($page-height-small);
    line-height: rem-calc($page-height-small);
    float: left;

    @media #{$large-up}{
      width: rem-calc($logo-width-large);
      height: rem-calc($page-height-large);
      line-height: rem-calc($page-height-large);
    }

  }

  &__toggle{
    float: right;
    height: rem-calc($page-height-small);
    background: none;
    border: 0;

    @media #{$medium-up}{
      display: none;
    }
  }

  &__list{
    display: block;
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;

    font-size: 0;
    background-color: color('background');

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    transition: all 0.3s ease-out;

    &.is-active{
      max-height: rem-calc(500);
      z-index: z('modal') - 1;
      box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    }

    @media #{$medium-up}{
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      max-height: none;

      padding: 0 0 0 rem-calc(halve($base-spacing-unit));
      float: right;
      overflow: visible;
    }
  }

    &__item{
      display: block;
      @media #{$medium-up}{
        float: left;
        // vertical-align: top;
      }
      // for 4 link only
      // width: 50%;
      // @media only screen and (min-width: em-calc(551)){
      //   width: auto;
      // }
    }

      &__link{
        display: block;
        padding-right: rem-calc(quarter($base-spacing-unit));
        padding-left: rem-calc(quarter($base-spacing-unit));

        font-size: rem-calc(14);
        font-weight: 600;
        line-height: rem-calc( $page-height-small );
        color: color('foreground');

        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus,
        &.is-active{
          color: color('foreground', 'invert');
          background-color: color('accent');
        }

        @media #{$large-up}{
          font-size: rem-calc(18);
          line-height: rem-calc($page-height-large);
          padding-right: rem-calc(halve($base-spacing-unit));
          padding-left: rem-calc(halve($base-spacing-unit));
        }
      }

      &__link--external{
        &,
        &:hover,
        &:active,
        &:focus,
        &.is-active{
          background: none;
          color: color('foreground');
        }
      }

      // &__alert{
      //   display: block;
      //   padding: rem-calc(quarter($page-height-small));
      //   background-color: color('accent');
      //   color: color('background');
      //   text-align: center;

      //   &:hover,
      //   &:focus{
      //     background-color: color('accent', 'dark');
      //     color: color('background');
      //   }

      //   transition: all 0.3s ease-out;

      //   @media #{$large-up}{
      //     padding: rem-calc(quarter($page-height-large));
      //   }
      // }


        // additional content
        // &__alert__text{
        //   line-height: rem-calc( halve($page-height-small) );
        //   &--small{
        //     font-size: rem-calc(12);
        //   }
        //   @media #{$large-up}{
        //     line-height: rem-calc( halve($page-height-large) + 1 );
        //   }
        // }
}