.videoflex {
  position: relative;
  height: 0;
  padding-bottom: 75%;
  margin-bottom: rem-calc($base-spacing-unit);
  overflow: hidden;

  &.videoflex--wide{
    padding-bottom: 56.25%;
  }
}
  .videoflex__frame,
  .videoflex > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }