.section{
  padding-top: rem-calc($base-spacing-unit);
  padding-bottom: rem-calc($base-spacing-unit);

  &--space-top{
    padding-top: rem-calc($base-spacing-unit * 2);
  }

  &--dark{
    background-color: color('background', 'light');
  }
  &--light{
    background-color: color('background');
  }
}