.article{
  position: relative;
  margin-bottom: rem-calc($base-spacing-unit);

  &__img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: rem-calc($base-spacing-unit);
  }

  &__title{
    margin-top: 0;
    margin-bottom: rem-calc(halve($base-spacing-unit));

    &--large{
      @include font-size(36);
    }

    &--medium{
      @include font-size(24);
    }


    &--small{
      @include font-size(20);
    }
  }

  &__date{
    display: block;
    color: color('disabled');
    margin-bottom: rem-calc(halve($base-spacing-unit));

    &--white{
      color: color('white');
    }
  }
}