/* ==========================================================================
   Submenu
   ========================================================================== */

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?"
}


// VARS
$submenu-namespace:          $namespace !default;
$submenu-border-color:       color('background', 'dark') !default;
$submenu-border-thickness:   1px !default;
$submenu-border-radius:      $base-radius !default;
$submenu-spacing:            rem-calc($base-spacing-unit) !default;
$submenu-padding:            rem-calc(halve($base-spacing-unit)) !default;
$submenu-link-color:         color('primary') !default;
$submenu-active-link-color:  color('white') !default;
$submenu-active-bg:          color('background', 'dark') !default;

.submenu{
  border: $submenu-border-thickness solid $submenu-border-color;
  border-radius: $submenu-border-radius;
  margin-bottom: $submenu-spacing;

  @media #{$medium-up}{
    margin-bottom: 0;
  }

  &__head{
    padding: $submenu-padding;
    color: color('primary');

    .submenu--primary > &{
      color: color('white');
      background-color: color('primary');
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &--submenu {
      width: 100%;
      display: none;

      .is-open > & {
        display: block;
      }
    }
  }

    &__item{
      display: block;
      border-top: $submenu-border-thickness solid $submenu-border-color;
      &--has-child{
        position: relative;
      }
    }

      &__link{
        position: relative;
        display: block;
        padding: halve($submenu-padding) $submenu-padding;
        color: $submenu-link-color;

        transition: color 0.2s ease-out,
                    background 0.2s ease-out;

        &:hover,
        &.is-active{
          color: $submenu-link-color;
          background-color: $submenu-active-bg;
        }

        .sidebar__list--submenu & {
          color: color('foreground', 'invert');
          background-color: color('primary');

          &:hover{
            background-color: color-level(color('primary'), 1);
          }
        }
      }

        &__align{
          display: inline-block;
          vertical-align: middle;
        }
        &__arrow{
          position: absolute;
          right: $submenu-padding;
          top: 50%;
          transform: translate(0, -50%);
        }
}
