/* Required rules for Slick Slider */
@import 'slick-carousel/slick/slick.scss';

/* Dots */

.slick-dots
{
  position: absolute;
  bottom: rem-calc($base-spacing-unit);
  z-index: z('default');

  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;
  position: relative;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: .25;
  line-height: 1;

  background: color('white');
}

.slick-dots li.slick-active button:before
{
  opacity: .75;
  color: black;
}

.slick-slide{
  outline: none;
  img {
    margin-left: auto;
    margin-right: auto;
  }
}



/**
 *
 * Custom style
 *
 */

.slide{
  position: relative;
  background-color: color('primary');
  // display: block;
  // width: 100%;
  // max-width: rem-calc(1440);
  // margin-left: auto;
  // margin-right: auto;
}

.slide__component{
  height: 1px;
  overflow: hidden;

  @media #{$large-up}{
    height: rem-calc(500);
  }
  &.slick-initialized {
    height: auto !important;
    overflow: visible;
  }
}

  .slide__item{
    position: relative;
    display: block;
  }

    .slide__content{
      display: none;

      .slick-initialized &{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: z('default');
        transform: translate(-50%, -50%);
        display: block;
        width: 100%;
        max-width: $container-width;
        padding-left: rem-calc(halve($base-spacing-unit));
        padding-right: rem-calc(halve($base-spacing-unit));
      }
    }
      .slide__headline{
        color: color('white');
        font-size: rem-calc(28);
        line-height: 1.1;

        @media #{$large-up}{
          font-size: rem-calc(48);
        }
      }
      .slide__tagline{
        color: color('white');
        font-size: rem-calc(16);
        margin-bottom: rem-calc(halve($base-spacing-unit));
        @media #{$large-up}{
          font-size: rem-calc(24);
        }
      }

      .slide__btn{
        width: 100%;
        @media #{$large-up}{
          width: auto;
        }
      }

.slide__nav{
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: z('default');

  line-height: 0;
  width: rem-calc(40);
  height: rem-calc(40);
  padding: 0;

  cursor: pointer;

  color: color('foreground', 'invert');
  border: none;
  outline: none;
  background: color('primary');

  &.slide__nav--prev{
    left: 0;
  }
  &.slide__nav--next{
    right: 0;
  }
}

.slide__nav.slick-disabled{
  opacity: .25;
}


/**
 *
 * Markup example

  <!-- slide container -->
  <div class="slide">
    <!-- actual slide -->
    <div class="slide__component">
      <div class="slide__item"></div>
      <div class="slide__item"></div>
      <div class="slide__item"></div>
    </div><!-- actual slide -->

    <!-- slide navigation -->
    <a href="#" class="slide__nav slide__nav--prev">Prev</a>
    <a href="#" class="slide__nav slide__nav--next">Next</a>
    <!-- slide navigation -->
  </div><!-- slide container -->

 *
 */
