/* ==========================================================================
   PAGE HEAD
   ========================================================================== */

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?";
}

$page-head-padding: 0px !default;
$page-head-border: 0 !default;
$page-height-small: 50px !default;
$page-height-large: 70px !default;

.page-head{
  display: block;
  width: 100%;
  position: relative;

  padding-top: rem-calc($page-head-padding);
  padding-bottom: rem-calc($page-head-padding);

  background-color: color('background');
  border-bottom: 2px solid color('primary');

  @if $page-head-border != 0{
    border-bottom: $page-head-border solid color('primary');
  }

  .page-head-fixed &{
    position: fixed;
    top: 0;
    left: 0;
    z-index: z('default');
  }

  &__container{
    position: relative;
    width: 100%;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: rem-calc(halve($base-spacing-unit));
    padding-right: rem-calc(halve($base-spacing-unit));

    @extend %clearfix;

    @media #{$xlarge-up}{
      max-width: rem-calc(1600);
    }
  }
}

.page-head-fixed{
  padding-top: $page-height-small;

  @media #{$large-up}{
    padding-top: $page-height-large;
  }
}