.promote{
  display: block;
  text-align: center;
  margin-bottom: rem-calc($base-spacing-unit);

  &,
  &:hover,
  &:active{
    color: $base-text-color;
  }

  &__circle{
    position: relative;
    display: block;
    width: rem-calc(50);
    height: rem-calc(50);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem-calc(halve($base-spacing-unit));

    border-radius: 50%;
    background-color: color('background', 'dark');

    @media #{$medium-up}{
      width: rem-calc(80);
      height: rem-calc(80);
    }

    @media #{$large-up}{
      width: rem-calc(130);
      height: rem-calc(130);
    }
  }

    &__icon{
      position: absolute;
      font-size: 1.75rem;

      color: color('primary');
      @include vh-middle;

      @media #{$medium-up}{
        font-size: 2.5rem;
      }

      @media #{$large-up}{
        font-size: 4rem;
      }
    }

  &__text{
    font-size: rem-calc(14);
    font-weight: 600;
    line-height: 1.1;

    @media #{$large-up}{
      font-size: rem-calc(18);
    }
  }
}